<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List all student</title>
</head>
<body>
<a href="/student">Back to home</a>
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <tr th:each="student : ${studentList}">
        <td th:text="*{student.id}"></td>
        <td th:text="*{student.firstname}"></td>
        <td th:text="*{student.lastname}"></td>
        <td th:text="*{student.age}"></td>
        <td>
            <a th:href="@{/student/edit/{id}(id=${student.getId()})}">Edit</a>
            <a th:href="@{/student/delete/{id}(id=${student.getId()})}">Delete</a>
        </td>
    </tr>
</table>
<nav aria-label="Page navigation example" class="mt-6 flex justify-end">
    <ul class="inline-flex -space-x-px">
        <li>
            <a th:if="${pageNumber - 1 >= 1}"  th:href="@{/student/all(pageNumber=${pageNumber - 1})}">Previous</a>
            <a th:if="${pageNumber - 1 < 1}">Previous</a>
        </li>
        <li th:if="${pageNumber - 2 >= 1}">
            <a  th:href="@{/student/all(pageNumber=${pageNumber - 2})}"
               th:text="${pageNumber -2}">1</a>
        </li>
        <li th:if="${pageNumber - 1 >= 1}">
            <a  th:href="@{/student/all(pageNumber=${pageNumber - 1})}"
               th:text="${pageNumber - 1}">2</a>
        </li>
        <li>
            <a href="#" aria-current="page"
               th:text="${pageNumber}">3</a>
        </li>
        <li th:if="${pageNumber + 1 <= totalPages}">
            <a
               th:href="@{/student/all(pageNumber=${pageNumber + 1})}"
               th:text="${pageNumber + 1}">4</a>
        </li>
        <li th:if="${pageNumber + 2 <= totalPages}">
            <a
               th:href="@{/student/all(pageNumber=${pageNumber + 2})}"
               th:text="${pageNumber + 2}">5</a>
        </li>
        <li>
            <a th:if="${pageNumber + 1 <= totalPages}"  th:href="@{/student/all(pageNumber=${pageNumber + 1})}"
            >Next</a>
            <a th:if="${pageNumber + 1 > totalPages}"
            >Next</a>
        </li>
    </ul>
</nav>
</body>
</html>